<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidence Management System</title>
    <link rel="stylesheet" href="stylesheets/style.css">

<style>
    body{
        background-color: brown;
        
    }
    img{
    width: 100%;
    /* background-image: url("./court.jpg"); */
    height: 92vh;
    /* overflow-ydden; */

    overflow-y: hidden;
}
</style>
</head>
<body>
    <nav class="navbar">
            <h1 class="logo">Proofchain</h1>

            <ul class="items">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/submit">Submit Evidence</a></li>
                <li><a href="/contract">Utility</a></li>
                <li><a href="/about">About us</a></li>
              
            </ul>
    </nav>
    <div>
        <img src="./chain2.jpg" alt="">
    </div>
</body>
</html>